<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section
        name="NLoggerConfiguration"
        type="NLogger.Configuration.NLoggerConfigurationSection, NLogger"
        allowLocation="true"
        allowDefinition="Everywhere"/>
  </configSections>

  <NLoggerConfiguration>
    <appender name="FileAppender" type="NLogger.Appenders.FileLoggerAppender" parameters="C:\log.txt">
        <level value="INFO"/>
        <pattern value="%date %level %message"/>
      </appender>
      <appender name="MemoryAppender" type="NLogger.Appenders.MemoryLoggerAppender">
        <level value="DEBUG"/>
      </appender>
  </NLoggerConfiguration>
  
</configuration>