<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section
        name="NLoggerConfiguration"
        type="NLogger.Configuration.NLoggerConfigurationSection, NLogger"
        allowLocation="true"
        allowDefinition="Everywhere"/>
  </configSections>

  <NLoggerConfiguration>
    <root>
      <level error="true"/>
    </root>
    <appender name="FileAppender" type="NLogger.Appenders.FileLoggerAppender, NLogger" parameters="C:\BS\log.txt">
        <level info="true"/>
        <pattern value="%date %level %message %exception"/>
        <file location="C:\BS\log.txt" maxsize="10MB" maxcount="3"/>
      </appender>
      <appender name="MemoryAppender" type="NLogger.Appenders.MemoryLoggerAppender, NLogger">
        <level debug="true"/>
      </appender>
  </NLoggerConfiguration>
  
</configuration>